.travis.yml
*.o
*.lo
shadows.dat
bin_unix/native_client
bin_unix/native_server
config/authpreprivate.cfg
config/authprivate.cfg
config/history
config/init.cfg
config/saved*.cfg
config/servers.cfg
config/configtemplates.zip
config/mapmodelattributes.cfg
config/entropy.dat
packages/maps/*.cfg
!packages/maps/new_content.cfg
packages/maps/*.cgz
!packages/maps/new_content.cgz
!packages/maps/dev_*.cgz
packages/misc/checksums_md5.txt
source/codeblocks/AssaultCube.layout
source/codeblocks/AssaultCube_Linux.layout
source/enet/.deps/
source/enet/.libs/
source/enet/Makefile
source/enet/config.log
source/enet/config.status
source/enet/libenet.la
source/enet/libenet.pc
source/enet/libtool
source/src/ac_client
source/src/ac_server
source/src/cube.h.gch
source/src/Makefile_local
clientlog*.txt
dumpmapconfig.txt
packetlog.txt
profile/*

/bin_win32
/source/include/libh6n
/source/vcpp/.vs/assaultcube/v16
/source/vcpp/Debug
/source/vcpp/assaultcube.vcxproj.user
/xxxxreadmaps_log.txt
/serverlog_20200105_22.45.23_local#28763.txt
/serverlog_20200105_22.26.08_local#28763.txt
/serverlog_20200105_22.25.15_local#28763.txt
/serverlog_20200105_22.23.52_local#28763.txt
/serverlog_20200105_22.22.33_local#28763.txt
/serverlog_20200105_22.20.29_local#28763.txt
/serverlog_20200105_22.07.54_local#28763.txt
/serverlog_20200105_22.05.43_local#28763.txt
/serverlog_20200105_22.03.43_local#28763.txt
/serverlog_20200105_22.01.17_local#28763.txt
/serverlog_20200105_22.00.28_local#28763.txt
/serverlog_20200105_21.53.04_local#28763.txt
/serverlog_20200105_21.48.39_local#28763.txt
/serverlog_20200105_21.47.54_local#28763.txt
/serverlog_20200105_21.46.29_local#28763.txt
/serverlog_20200105_21.46.11_local#28763.txt
/serverlog_20200105_21.46.04_local#28763.txt
/serverlog_20200105_21.45.36_local#28763.txt
/source/vcpp/Standalone/assaultcube.log
/source/vcpp/Standalone Debug/assaultcube.tlog
/source/vcpp/Standalone Debug
